<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Min Blogg</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="page-wrapper">
  <nav class="navbar">
    <div class="logo"><a href="/">✨ MinBlogg</a></div>
    <div class="nav-links">
      {% if current_user %}
        <span class="user-info">Inloggad som <b>{{ current_user }}</b></span>
        {% if current_user == "admin1" %}
          <a href="/admin">AdminPanel</a>
        {% endif %}
        <a href="/logout">Logout</a>
      {% else %}
        <a href="/register">Registrera</a>
        <a href="/login">Logga In</a>
      {% endif %}
    </div>
  </nav>

  <main class="content">
    <h1 class="page-title">Senaste inlägg</h1>
    <div class="posts-grid">
      {% for pid, title, content, image in posts %}
        <div class="post-card">
          {% if image %}
            <img src="{{ image }}" alt="{{ title }}" class="post-image">
          {% endif %}
          <h2>{{ title }}</h2>
          <p>{{ content }}</p>
        </div>
      {% endfor %}
    </div>
  </main>

    <footer class="footer">
      <p>© Skapad av Salih Morina</p>
    </footer>
 
</div> 
</body>
</html>
